.a1{
    color: orange;
    text-align: center;
    text-transform: uppercase;
    font-style: oblique;
}
.a2{
    color: lime;
    text-align: left;
    text-transform: lowercase;
    font-style: italic;
}
.a3{
    color: brown;
    text-align: end;
    text-transform: capitalize;
    font-style: inherit;
}